## Settings file was created by plugin Display BepInEx Info In-Game v1.0.0
## Plugin GUID: org.bepinex.valheim.displayinfo

[Console]

## Log levels to log to Valheim console.
# Setting type: LogLevel
# Default value: Error, Warning, Message, Info
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogLevels = Error, Warning, Message, Info, Debug

## If true, will display BepInEx logs in Valheim console.
# Setting type: Boolean
# Default value: true
DisplayBepInExLogs = true

